*{
    margin: 0px;
    padding: 0px;
}


body{
    background-color:  #98ffff;
    height: 1230px;
    
    
}

body::-webkit-scrollbar{
    width: 12px;
}

body::-webkit-scrollbar-track{
    background: rgba(0, 0, 0, 0.701);
}

body::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 20px;
}

@keyframes customAni {
    from {
      opacity: 0%;
      translate: -90vh 0;
    }
  
     to{
        opacity: 1;
        translate: 0 0;
      
    }
  }

  @keyframes customAni2 {
    0% {
      animation-timing-function: ease-in;
      opacity: 0%;
      transform: translateY(-10avh)
    }
  
    100% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: translateY(0px);
    }
  }



.Menu{
    position: fixed;
    background-color: #d7ff9a;
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: flex-end;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
    
}

.OnuImg{
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    right: 1010px;
    z-index: -1;
}


.Links{
    display: flex;
    justify-content: space-between;
    width: 140vh;
    margin: 100px;
    font-size: 20px;
    font-family: FontTH;
}

.Links > a{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-weight: bold;
}

.Links > a:hover{
    font-size: 25px;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-color: white;
}


.ImgHome{
    display: flex;
    width: 100%;
    
}

.H1Ods{
    position:absolute;
    margin-top: 320px;
    width: 30%;
    display: flex;
    justify-content: right;
    color: black;
    font-family: fantasy;
    font-size: 45px;
    text-decoration: underline;
    text-decoration-color: goldenrod;
    z-index: -1;
    animation: customAni 3s ease 0s 1 normal none;
    
    
}

.Texto1{
    background-color: white;
    width: 700px;
    height: 300px;
    position: absolute;
    margin-top: 300px;
    padding: 35px;
    display: flex;
    justify-content: right;
    overflow-y: auto;
    right: 50px;
    text-align: center;
    z-index: -1;
    -webkit-box-shadow: 25px 17px 8px -3px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 25px 17px 8px -3px rgba(0, 0, 0, 0.5);
box-shadow: 25px 17px 8px -3px rgba(0, 0, 0, 0.5);
animation: customAni 3s ease 0s 1 normal none;
animation-timeline: view();
animation-range: cover 0% cover 50%;

}

.HTXTo2{
    position: absolute;
    background-color: greenyellow;
    width: 420px;
    height: 130px;
    margin-top: 910px;
    text-align: center;
    display: flex;
    left: 32px;
    z-index: -1;
    -webkit-box-shadow: -16px 5px 8px -2px rgba(0, 0, 0, 0.55);
-moz-box-shadow: -16px 5px 8px -2px rgba(0, 0, 0, 0.55);
box-shadow: -16px 5px 8px -2px rgba(0, 0, 0, 0.55);
animation: customAni2 1s ease 0s 1 normal none;
animation-timeline: view();
animation-range: cover 0% cover 50%;

    
}

.HTXTo2 > h1{
    display: flex;
    margin: auto;
    margin-top: 10%;
    font-family: fantasy;
    font-size: 40px;
    
  
    
  
}

.História{
    position: absolute;
    background-color: white;
    font-weight: bold;
    font-size: 13;
    width: 1120px;
    height: 470px;
    padding: 20px;
    overflow-y: auto;
    margin-top: 1105px;
    z-index: -1;
    left: 32px;
    text-align: center;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 1);
-moz-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 1);
box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 1);
animation: customAni2 1000ms ease 0s 1 normal none;
animation-timeline: view();
animation-range: cover 0% cover 50%;



}

.h1Brasil{
    font-size: 27px;
    font-family: fantasy;
    text-decoration: underline;
    text-decoration-color: greenyellow;
    margin-top: 42px;
    display: flex;
    justify-content: start;
  
}

.NoBrasil{
    font-size: 20px;
    margin-top: 12px;
    padding: 12px;
   
}

.Rodape{
    position: absolute;
    background-color:  #1A0B31;
    display: block;
    justify-content: right;
    color: white;
    width: 100%;
    box-sizing: border-box;
    height: 225px;
    padding: 23px;
    margin-top: 1723px;
    overflow: hidden;
    text-align: right;a


}

.GitHub{
    margin-top: 
} 

.LinkRodape > a{
    color: white;
    display: flex;
    justify-content: right;
    margin-top: 22px

}

.LinkRodape > a:hover{
    text-decoration: underline;
    text-decoration-color: white;
}


.H1Sobre{ 
    position: absolute;
    font-size: 32px;
    font-family: fantasy;
    text-align: center;
    margin-top: 240px;
    left: 0;
    right: 0;
    text-decoration: underline;
    text-decoration-color: greenyellow;
    z-index: -2;
}

.FerramentasImg{
    position: absolute;
    width: 80%;
    margin-top: 400px;
    display: flex;
    justify-content: space-between;
    left: 100px;
    z-index: -1;

}

.h1Html{
    position: absolute;
    width: 90vh;
    display: flex;
    justify-content: space-between;
    left: 139px;
    font-family: fantasy;
    margin-top: 320px;
    text-decoration: none;
    z-index: -1;
}

.h1Css{
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 579px;
    font-family: fantasy;
    margin-top: 320px;
    text-decoration: none;
    z-index: -1;

}

.h1Js{
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 1030px;
    font-family: fantasy;
    margin-top: 320px;
    text-decoration: none;
    z-index: -1;

}

.FerramentasImg img:hover{
    transform: translateX(10px) scale(1.2);
    transition-duration: 1s;
}